.sec-small{
    height:90vh;
    padding: 2.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
.film-small{
    background-color:rgb(255, 255, 255,0.7);
    height: 90%;
    max-width: 70%;
    margin: auto;
}
#login-pic{
    margin: auto;
}
#form-style{
    padding: 0px 30px 0px 0px;
}

@media (max-width:992px){
    #login-pic{
        display: none;
    }
}
@media (max-width:767px) {
    #form-style{
        padding: 0;
    }
  }