@media only screen and (max-width: 1024px)
{
    .navbar{
        height: 180px;
        flex-direction: column;
        transition: all 0.3s ease-out;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
      opacity: 0;  
      width: 10%;
    }
    .box-main{
        max-width: 100%;
    }
    .inline{
        flex-direction: column;
    }
    .fourthSection .inline{
        flex-direction: column-reverse;
    }
    .square
    {
        width: 80%;
    }
    .thirdSection .square
    {
        width:80%;
    }
    
}
@media only screen and (max-width:567px){
    #Mob-div{
        flex-direction: column;
    }
    #num{
        width: 100%;
    }
    #OTP-button
    {
        padding: .375rem .75rem;
        width: 100%;
        height: 40px;
        margin:1rem 0rem 0rem 0rem;
    }
}
@media (max-width:767px) {
    .footer-contacts {
      margin: 30px 0;
    }
  }

@media only screen and (max-width: 600px) {
    .list-group-item {
        color: white;
    }

    .panel {
        padding: 0 18px;
        display: none;
        background-color: none;
        overflow: hidden;
    }

    .foter-1{
        display: block !important;
    }

    .foter-2 {
        display: none !important;
    }

    .imgage-1 {
        padding-right: 5rem !important;
        padding-left: 5rem !important;
    }

    .canv {
        width: 100% !important;
        padding: 0% 5% !important;
    }
    
    Dashboard */
    /* .dashborder {
        border-right-style: none!important;
    }
    .happyclient {
        width: 70% !important;
    }
}