@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oranienbaum&display=swap');
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth ;
}
.background{
    background: rgba(0,0,0,0.7) url('../img/Background.png');
    background-size: cover;
}
.firstSection{
    height: 72vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PT Serif', serif;
    max-width: 50%;
    margin-right: auto;
    height: 90%;
}

/* .sqsingle{
    width: 50%;
    padding: 10px 20px;
    margin: auto 10% auto 10%;
} */
.firstHalf{
    width : 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.text-big{
    padding: 2% 1%;
    font-size: 5.75vh;
    font-weight: 600;
}
.box{
    padding: 20px;
}
  
.bton:link,
.bton:visited{
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 3vh;
  color:#fff;
  font-weight: 400;
  position:relative;
  top:0;
  left:0;
  padding:2vh 8vh;
  border-radius:50px;
  display:inline-block;
  transition: all .5s;
}

.bton-black{
  background:#000;
  color:#fff;
  opacity: 0.7;
}

.bton:hover{
   box-shadow:0px 2px 2px rgba(0,0,0,0.2);
   transform : translateY(-2px);
}

.bton:active{
  box-shadow:0px 1px 2px rgba(0,0,0,0.2);
  transform : translateY(-1px);
}

.bton-bottom-animation-1{
  animation:comeFromBottom 1s ease-out .8s;
}

.bton::after{
  content:"";
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
  color:#fff;
  font-weight: 400;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:50px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.bton-black::after {
    background: #000;
    opacity: 0.7;
}

.bton-animation-1:hover::after {
    transform: scaleX(1.2) scaleY(1.1);
    opacity: 0;
}

@keyframes comeFromBottom{
  0%{
    opacity:0;
    transform:translateY(20px);
  } 
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

.box-bottom{
    font-family: 'PT Serif', serif;
    font-size: 2vh;
    text-align: right;
    padding: 0vh 3vh;
    font-weight: 700;
}
.heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vh;   
    font-weight: 500;
    padding: 20px 0px;
    margin: auto;
    width: 90%;
    text-align: center;
}
.inline{
    display: flex;
    width: 95%;
    margin: auto;
}
.square{
    width: 30%;
    padding: 10px 20px;
    margin: 0 auto;
}
.text-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 6vh;   
    font-weight: 400;   
}
.text-para{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;   
    font-weight: 300; 
    padding: 10px 0px;
}
.text-para-big{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 31px;   
    font-weight: 400;
    justify-content: center;
}
.text-para-small{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
}
.custom{  
margin: 15px 0px 10px 0px;
width: 15%;  
height: 2px;  
background-color: rgb(62, 145, 113);  
border: 1px solid rgb(62, 145, 113); 
border-radius: 5px;  
opacity: 1;
}
.custom-black-bold{  
    margin: auto;
    width: 100%;
    height: 2px;
    background-color: #262626;
    border: 1px solid #757575;
    border-radius: 5px;
    opacity: 1;
    }
.text-num{
    font-family: 'Oranienbaum', serif;
    font-size: 13vh;   
    font-weight: 500;  
    padding: 0% 8%;
}
.thirdSection .square{
    width: 40%;
    padding: 10px 20px;
    margin: auto;
    padding: 30px 0px
}
.fourthSection{
    padding-bottom: 1.5rem;
}

.burger{
    display: none;
    position: absolute ;
    cursor: pointer;
    right: 5%;
    top: 15px;     
}
.line{
    width : 33px;
    background-color: white;
    height: 4px;
    margin:5px ;
}

.tick{
    font-family:'Oranienbaum', serif;
    font-size: 200%;
    color: rgb(62, 145, 113);
}

.accordion {
    color: #6e707e;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.fourthSection .inline .square .text-para{
    margin:0;
    padding:0;
}
.register .form-control {
    background: #efeff1;
    border: none;
    border-radius:5px;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 6px;
    height: 40px;
    font-size: 1.15rem;
}

#Mob-div{
    display: flex;
}
#star-content{
    margin-top: 1rem;
    margin-bottom: 0;
}
#OTP-button{
    width: 25%;
    margin-left: 2%;
    background-color: #efeff1;
    color: black;
    border: none;
    box-shadow: none; 
    text-decoration: none;
}
#num{
    width:73%;
}
#disp
{
    display: none;
}
#form-col{
    padding: 8rem 0;
    width: 70%;
    margin: auto;
}
#form-col-det{
    padding: 6rem 0;
    width: 70%;
    margin: auto;
}
#content-col{
    padding: 2.2rem 0;
}
#content-head{
    font-weight: 600;
    padding: 0;
    margin-bottom: 5px;
}
#form-head{
    letter-spacing: 1px;
    font-style: normal; 
    font-weight: 400;
}

